@import "./../../../../styles/colors.scss";

.row-item {

  .col-item {
    padding: 0.6em;
    border-bottom: 1px solid $frame_color;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .col-item:first-child {
    border-left: none;
  }

  .col-item:nth-child(2n){
    background: $alt_background;
  }

  .col-item:nth-child(2n){
    background: $alt_background;
  }

  .action-items {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

}