 
 $accent_1 : rgb(26, 38, 55);
 $accent_2 : rgb( 125, 133, 232);
 $accent_3 : rgb(163, 182, 209);
 $accent_4 : rgb(126, 189, 232);

 $frame_color : #444;
 $text_color: #fff;

 $alt_background : #eee;
