@import '~antd/dist/antd.css';
@import './colors.scss';

* {
  margin: 0;
  padding: 0;
}


.ant-btn-primary {
  background: $accent_1;
  border: 1px solid $accent_1;
}

.ant-btn-primary:hover {
  background: $accent_2;
}